# Ignora cartelle specifiche del tuo progetto
/ur_description/
/sim_ros2_interface/
/robotiq_description/
/cr_vision/data/
/BehaviorTree.CPP/
/BehaviorTree.ROS2/
llama-2-7b-chat.Q4_K_M.gguf
**/docs

# File temporanei generici
*.log
*.pyc
__pycache__/

# Cartelle build/install di ROS 2
/build/
/install/
/log/

# File di backup o temporanei di editor
*~
*.swp
*.swo
.DS_Store
.vscode/
.idea/

# File di sistema
Thumbs.db

# documentazione generata
/cr_bringup/docs
/cr_bt_common/docs
/cr_bt_pick_plave/docs
/cr_controller/docs
/cr_gui/docs
/cr_hw_interface/docs
/cr_interfaces/docs
/cr_motion_core/docs
/cr_remote_assistant/docs
/cr_scene_management/docs
/cr_vision/docs
